# editor
.clj-kondo/.cache
.lsp
.idea
.vscode

# languages
.venv
.cpcache
.bundle
vendor
__pycache__

# infra
terragrunt.iml
.terraform
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.terraform.lock.hcl
terragrunt
.aws*

# OS
.DS_Store
.tmp